{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row py-3">
            <div class="col text-end">
                <a class="btn btn-primary" href="" role="button">Demander une critique</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="" role="button">Créer une critique</a>
            </div>
        </div>
        {% for ticket in tickets %}
        <div class="row border my-2 py-2">
            <div class="col">
                <h2>{{ ticket.title }}</h2>
                <p>{{ ticket.description}}</p>
                <p>Ticket created by: {{ ticket.user }}</p>
            </div>
            <div class="col">
                <img src="{{ ticket.image.url }}" class="img-fluid">
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}