{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row py-3">
            <div class="col text-end">
                <a class="btn btn-primary" href="{% url "ticket-create" %}" role="button">Demander une critique</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{% url "ticket-review-create" %}" role="button">Créer une critique</a>
            </div>
        </div>
        {% for post in posts %}
        <div class="row border my-2 py-2">
            {% if post.content_type == 'TICKET' %}
                <div class="col">
                    <h5 class="pb-3">{{ post.user }} a demandé une critique</h5>
                    <h3>{{ post.title }}</h2>
                    <p>{{ post.description}}</p>
                    {% if post.has_review %}
                        <h5>Quelqu'un a déjà posté un commentaire pour ce billet</h5>
                    {% else %}
                        <a class="btn btn-primary" href="{% url "review-create" post.id %}" role="button">Créer une critique pour ce billet</a>
                    {% endif %}
                </div>
                <div class="col">
                    <p class="text-end">{{ post.time_created }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-fluid" alt="Image of ticket: {{ post.title }}">
                    {% endif %}
                </div>
            {% elif post.content_type == 'REVIEW' %}
                <div class="col">
                    <h5 class="pb-3">{{ post.user }} a laissé une critique</h5>
                    <h3>{{ post.headline }}</h3>
                    <span aria-label="{{ post.rating }} out of 5 stars">
                        {% for i in '12345' %}
                        {% if forloop.counter <= post.rating %}
                            <i class="bi bi-star-fill text-warning" aria-hidden="true"></i>
                        {% else %}
                            <i class="bi bi-star text-warning" aria-hidden="true"></i>
                        {% endif %}
                        {% endfor %}
                    </span>
                    <p class="pt-3">{{ post.body }}</p>
                </div>
                <div class="col">
                    <p class="text-end">{{ post.time_created }}</p>
                    <div class="border">
                        <p>Ticket - {{ post.ticket.user }}</p>
                        <h5>{{ post.ticket.title }}</h5>
                        {% if post.ticket.image %}
                        <img src="{{ post.ticket.image.url }}" class="img-fluid" alt="Image of ticket: {{ post.ticket.title }}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}