{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row py-3">
            <div class="col text-end">
                <a class="btn btn-primary" href="{% url "ticket-create" %}" role="button">Demander une critique</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{% url "ticket-review-create" %}" role="button">Créer une critique</a>
            </div>
        </div>
        {% for post in posts %}
        <div class="row border my-2 py-2">
            {% if post.content_type == 'TICKET' %}
                <div class="col">
                    <p>Vous avez publié un ticket</p>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description}}</p>
                    <p>
                        <a class="btn btn-primary" href="{% url 'ticket-update' post.id %}" role="button">Modifier ce billet</a>
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{% url 'ticket-delete' post.id %}" role="button">Supprimer ce billet</a>
                    </p>
                </div>
                <div class="col">
                    <p class="text-end">{{ post.time_created }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-fluid">
                    {% endif %}
                </div>
            {% elif post.content_type == 'REVIEW' %}
                <div class="col">
                    <h2>{{ post.headline }}</h2>
                    {% for i in '12345' %}
                    {% if forloop.counter <= post.rating %}
                        <i class="bi bi-star-fill text-warning"></i>
                    {% else %}
                        <i class="bi bi-star text-warning"></i>
                    {% endif %}
                    {% endfor %}
                    <p>{{ post.body }}</p>
                    <p>
                        <a class="btn btn-primary" href="{% url 'review-update' post.id %}" role="button">Modifier ce commentaire</a>
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{% url 'review-delete' post.id %}" role="button">Supprimer ce commentaire</a>
                    </p>
                </div>
                <div class="col">
                    <p class="text-end">{{ post.time_created }}</p>
                    <div class="border">
                        <p>Ticket - {{ post.ticket.user }}</p>
                        <h5>{{ post.ticket.title }}</h5>
                        {% if post.ticket.image %}
                            <img src="{{ post.ticket.image.url }}" class="img-fluid">
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}